@media screen and (max-width: 700px) {
  .css-hyum1k-MuiToolbar-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .css-32gv33-MuiStack-root {
    padding: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .css-32gv33-MuiStack-root {
    justify-content: space-around;
  }
}

@media screen and (max-width: 675px) {
  .css-32gv33-MuiStack-root {
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .css-euhabx-MuiButtonBase-root-MuiButton-root {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .css-32gv33-MuiStack-root {
    flex-wrap: inherit !important;
  }
}
